<style>
  Button{
      width: 300 ;
      height: 75;
      color: black ;
      background-color: gray;
      font-size: 30px;
      font-family: Proxima Nova;
  }
  Label{
      font-size: 30px;
      color: white;
      font-family: Proxima Nova;
  }
  ActionBar{
      color: floralwhite;
      font-family: Proxima Nova;
      background-color: darkslateblue;
  }
  StackLayout{
      background-color: darkslateblue;
  }
</style>
<ActionBar title = "Category"></ActionBar>

<StackLayout>
    <label text="Click Quiz to Start"></label>
    <ListView height="450" [items]="category_List">
        <ng-template let-item="item">
          <StackLayout>
            <Label [text]="item.name" [nsRouterLink]="['/play', item.id]"  ></Label>
          </StackLayout>
        </ng-template>
      </ListView>
</StackLayout>