<ActionBar title = "Category"></ActionBar>

<StackLayout>
    <label class="h1" text="Click Quiz to Start"></label>
    <ListView height="450" [items]="category_List">
        <ng-template let-item="item">
          <StackLayout>
            <Label class="h2" [text]="item.name" [nsRouterLink]="['/play', item.id]"  ></Label>
          </StackLayout>
        </ng-template>
      </ListView>
    <Button class="h2" (tap) = "delete()" text="delete"></Button>
    <!--<Button class="h2"(tap)="tap()" text="Play"></Button>-->
</StackLayout>