<ActionBar flat="true" title="History Log"></ActionBar>
<FlexLayout class="flex">
    <StackLayout >
    <ListView height="600" [items]="Log_List">
        <ng-template let-item="item">
          <StackLayout>
            <Label class="list" [text]="'Quiz:'+item.quiz_name" ></Label>
            <Label class="list" [text]="'Time Used:'+item.time" ></Label>
            <Label class="list" [text]="'Score:'+item.score" ></Label>
          </StackLayout>
        </ng-template>
      </ListView>
        <Button class="btn" text="Back" [nsRouterLink] = "['/menu']"></Button>
    </StackLayout>
</FlexLayout>