<ActionBar flat="true" class="ActionMenu" title=""></ActionBar>
        <FlexboxLayout class="FlexMenu" flexDirection="column" >
            <StackLayout class="StackMenu" height="40%"  >
                <Label class ="menu1" text="QuizMe" verticalAlignment="center" ></Label>
                <Label class="menu2" text="MobileApp" verticalAlignment="center" ></Label>
            </StackLayout>
            <StackLayout class="StackMenu" height="50%">
                <Button class ="menuButton1" text="Select Quiz" [nsRouterLink]="['/category']"></Button>
                <Button class ="menuButton2" text="Edit Quiz" [nsRouterLink]="['/edit']"></Button>
            </StackLayout>
            <StackLayout class="StackMenu" height="10%">    
                <Label verticalAlignment="bottom" class="credit" text="V1.0"></Label>
                <Label verticalAlignment="bottom" class="credit" text="Charnchanok, Naluechai : Computer Engineering (Cpr.E)"></Label>
                <label verticalAlignment="bottom" class="credit" text="Bachelor's degree students from KMUTNB ,Thailand"></label>
            </StackLayout>
        </FlexboxLayout>
        <!--ns build android --release --key-store-path D:\keystore\keyQuizme.jks --key-store-password 456123 --key-store-alias key0 --key-store-alias-password 456123-->
        