<ActionBar class="ActionMenu" title="by Group3"></ActionBar>
        <FlexboxLayout class="FlexMenu">
            <StackLayout class="StackMenu">
                <Label class ="menu1" text="Quiz" ></Label>
                <Label class="menu2" text="MobileApp"></Label>
                <Button class ="menuButton1" text="Select Quiz" [nsRouterLink]="['/category']"></Button>
                <Button class ="menuButton2" text="Edit Quiz" [nsRouterLink]="['/edit']"></Button>
            </StackLayout>
        </FlexboxLayout>
