<ActionBar [title]="selected_category.name" (tap) = "renameCategory()" ></ActionBar>
<FlexLayout>
    <StackLayout>
            <ListView height="500" [items] = selected_category.questions>
                <ng-template let-item="item">
                    <StackLayout>
                        <Label [text] = "item.id + ': ' + item.question" [nsRouterLink]="['/detail', categoryID, item.id ]" ></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
            <TextField [(ngModel)]="questionName" hint="New Question Name"></TextField>
            <Button class="DetailButton" text="Add Question" (tap) = "addQuestion()"></Button>
            <Button class="DetailButton" text="Delete Category" (tap) = "delCategory()"></Button>
    </StackLayout>
</FlexLayout>
