<ActionBar [title]="selected_category.name" >
    <ActionItem (tap) = "renameCategory()" android.systemIcon="ic_menu_edit" ios.position="right" ></ActionItem>
</ActionBar>

<GridLayout rows="auto, *">
    <GridLayout row =0 columns="* , auto" >
        <TextField class = "txt" [(ngModel)]="questionName" hint="New Question Name" col=0></TextField>
        <Image class="add_item" src="~/app/img/add.png" (tap) = "addQuestion()" col=1></Image>
    </GridLayout>
    
    <StackLayout row =1 >
            <ListView height="500" [items] = selected_category.questions>
                <ng-template let-item="item">
                    <StackLayout>
                        <GridLayout columns="*,auto">
                            <Label col = "0" textWrap="true" class="list" [text] = "item.id + ': ' + item.question" [nsRouterLink]="['/detail', categoryID, item.id ]" ></Label>
                            <Label class="del-btn" text="Delete" col="1" (tap) = "delQuestion(selected_category.id, item.id)"></Label>
                        </GridLayout>    
                    </StackLayout>
                </ng-template>
            </ListView>
            <button class = "h2" text="back" (tap) = "back()"></button>
    </StackLayout>
</GridLayout>
