.txt{
    height: 200px;
    font-size: 30px;
    background-color: white;
}
.add_item{
    width: 75px;
    height: 75px;
}
.list{
    color: white;
    font-size: 30;
}
.del-btn{
    color :black;
    font-size:16;
    background-color: white;
}