<ActionBar [title]="title" (tap) = "renameQuestion()">
    <ActionItem (tap) = "renameQuestion()" android.systemIcon="ic_menu_edit" ios.position="right" ></ActionItem>
</ActionBar>

<GridLayout rows="auto, *">
    <GridLayout row =0 columns="* , auto" >
        <TextField [(ngModel)]="choiceName" hint="New Choice Name" col=0></TextField>
        <Image class="add_item" src="~/app/img/add.png" (tap) = "addChoice()" col=1></Image>
    </GridLayout>

    <StackLayout row =1 >
        <ListView height="300" [items] = selected_question.choice>
            <ng-template let-item="item">
                <StackLayout>
                    <Label  [text] = "'Choice' + item.id + ': ' + item.choice" (tap) = "rename(item.id)" ></Label> 
                  </StackLayout>
            </ng-template>
        </ListView>
        <StackLayout>
            <TextField class="QuestionTextField" [(ngModel)] = "answer" ></TextField>
            <Button class="QuestionButton" text="Change Answer" (tap) = "changeAnswer()" ></Button>

            
            <Button text="Delete Question" (tap) = "delQuestion()"></Button>
            <button class = "h2" text="back" (tap) = "back()"></button>
        </StackLayout>
    </StackLayout>
</GridLayout>
