.txt1{
    height: 200px;
    font-size: 30px;
    background-color: white;
    padding: 10;
}
.txt2{
    height: 150px;
    width: 200px;
    font-size: 20px;
    background-color: white;
    padding: 10;
}
.add_item{
    width: 75px;
    height: 75px;
}
.list{
    color: white;
    font-size: 30;
}
.del-btn{
    color :red;
    font-size:16;
    background-color: white;
}
.back{
    border-radius: 50px;
    font-size:16;
}
.picker {
    background-color: blanchedalmond;
    color: red;
    border-color: brown;
    border-radius: 20;
    border-width: 2;
    width: 200;
    height: 100;
    vertical-align: middle;
}