<style>
    Button{
        width: 350 ;
        height: 70;
        color: black ;
        background-color: gray;
        font-size: 28px;
        font-family: Proxima Nova;
    }
    StackLayout{
        background-color: darkslateblue;
    }
    TextField{
      height: 125px;
      font-size: 30px;
      font-family: Proxima Nova;
      background-color: white;
    }
</style>
<FlexLayout>
    <StackLayout>
        <TextField  class="h2" [(ngModel)] = "SelectedData"></TextField>
        <button class = "h2" text="Edit" (tap) = "edit()"></button>
    </StackLayout>
</FlexLayout>