<ActionBar [title]="title"></ActionBar>
<StackLayout>
    <StackLayout>
        <label class = "h1" [text] = "selected_question.question"></label>
        <ListView [items] = "selected_question.choice">
            <ng-template let-item="item">
                <StackLayout>
                  <Label class = "h2" [text] = "item.answer"></Label>
                </StackLayout>
              </ng-template>
        </ListView>

    </StackLayout>

    <button  class="h2" text = "next" (tap) = "selectedQuestion()"></button>
    <button  class="h2" text = "back" (tap) = "getTotalQuestions()"></button>
</StackLayout>