/*play component */
.question{
    color: white;
    font-size: 45;
  }
  .questionAsk{
    color: white;
    font-size: 25;
  }
  .answer{
    color: white;
    font-size: 30;
  }
  /*result componen*/
  