<ActionBar [title]="title"></ActionBar>
<FlexLayout >
    <StackLayout>
        <label class = "h1" [text] = "selected_question.question"></label>
        <ListView height="300" [items] = "selected_question.choice">
            <ng-template let-item="item">
                <StackLayout>
                  <Label class = "h2" [text] = "item.choice" (tap)="collectSelected(item.id)" ></Label>
                </StackLayout>
              </ng-template>
        </ListView>

    </StackLayout>

    <button  class="h2" text = "next question" (tap) = "selectedQuestion()"></button>
    <!--<button  class="h2" text = "back" (tap) = "getTotalQuestions()"></button>-->
</FlexLayout>