<ActionBar title="edit menu"></ActionBar>
<FlexLaypout>
    <StackLayout>
        <ListView height="450" [items]="category_List">
            <ng-template let-item="item">
              <StackLayout>
                <Label class="h2" [text]="item.name" [nsRouterLink]="['/detail', item.id]"></Label>
              </StackLayout>
            </ng-template>
          </ListView>
          <TextField class = "h2" [(ngModel)]="categoryName" hint="New Category Name"></TextField>
          <Button text="Add New Category" (tap) = "addNewCategory()" ></Button>
    </StackLayout>
</FlexLaypout>
